<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "RyMe's", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
	  <li><%= link_to "Menu", menu_path %></li>
	  <li><%= link_to "Reservations", reserve_path %></li>
          <li><%= link_to "Newsletter", signup_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
